# Task Step 1

## Importing Libraries

In [18]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [19]:
# Defining path
path = r'C:\Users\Rachele\Documents\Data Analytics Course\CareerFoundry\Data Analytics Immersion\Achievement 4\Python'

In [20]:
# Importing orders dataframe
df_ord = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [21]:
# Importing products dataframe
df_pro = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [26]:
# Importing df_ords_prior dataframe
df_ord_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products__prior.csv'), index_col = False)

In [27]:
# Check the dimensions of df_ords_prior
df_ord_prior.shape

(32434489, 4)

In [11]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [28]:
# Dimensions of df_ords
df_ord.shape

(3421083, 7)

In [29]:
df_ord.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

## Merge the dataframe with df_ords

In [30]:
# Creating new dataframe
df_merged_large = df_ord.merge(df_ord_prior, on = 'order_id', indicator = True)

In [32]:
# Checking columns
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [33]:
# Merge the dataframes
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Task Step 2 - Export File in Pickle Format

In [34]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

## Remaining steps to follow in second notebook