# 4.6 Combined Pickle Dataframe (Steps 3-9)

## Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

## Importing Dataframes

In [2]:
# Defining path
path = r'C:\Users\kaymi\OneDrive\Documents\05-2023-Instacart Basket Analysis'

In [3]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'prods_checked.csv'), index_col = False)

## Task Step 3 - Import Pickle File

In [6]:
# Import orders_products_combined
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Task Step 4 - Check Shape of Dataframe

In [8]:
df_ords_prods_combined.shape

(32434489, 12)

## Task Step 5 - Merge Dataframe with Prods Data

In [9]:
# Check columns of df_ords_prods_combined
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,first order,196,1,0,both
1,0,0,2539329,1,1,2,8,first order,14084,2,0,both
2,0,0,2539329,1,1,2,8,first order,12427,3,0,both
3,0,0,2539329,1,1,2,8,first order,26088,4,0,both
4,0,0,2539329,1,1,2,8,first order,26405,5,0,both

In [10]:
# Check shape of df_prods
df_prods.shape

(49693, 6)

In [11]:
# Check columns of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# Drop existing merge column (dropped due to error in following code to merge)
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [15]:
# Product_id matches in both dataframes - use this as the key to merge
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [16]:
df_merged.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,first order,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [19]:
# Drop first 2 unneccesary columns
df_merged = df_merged.drop(columns = ['Unnamed: 0.1','Unnamed: 0_x'])

In [20]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,first order,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

## Task Step 6 - Confirm the results using merge flag

In [1]:
df_merged['_merge'].value_counts()

NameError: name 'df_merged' is not defined

In [23]:
#checking merge shape
df_merged.shape

(32434212, 15)

## Task Step 7 - Export

In [24]:
#Exoprt df_merged as pickle file due to size
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))